
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.component {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.component::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.component::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
  height: 10px;
}
